@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/quicksand';

:root [data-theme='modern'] {
	--theme-rounded-base: 32px;
	--theme-rounded-container: 24px;
}

button,
a,
.card {
	z-index: 1;
}

/* Ensure toasts appear above everything */
.toast-container {
	z-index: 99999;
}