@import 'tailwindcss';

@import "@skeletonlabs/skeleton";

@import "@skeletonlabs/skeleton/optional/presets";

@import "@skeletonlabs/skeleton/themes/modern";

@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";
@import '@fontsource/quicksand' layer(utilities);

@config '../tailwind.config.ts';

:root [data-theme='modern'] {
	--theme-rounded-base: 32px;
	--theme-rounded-container: 24px;
}

button,
a,
.card {
	z-index: 9999;
}
