@import 'tailwindcss';

@import "@skeletonlabs/skeleton";

@import "@skeletonlabs/skeleton/themes/modern";

@import "@skeletonlabs/skeleton-svelte";
@import '@fontsource/quicksand' layer(utilities);

.card {
	z-index: 9999;
}